html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
}

header {
    background-color: #bb5544;
    box-shadow: 0 5px 5px -5px #333;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

header a:hover {
    text-shadow: 1px 1px 2px black, 0 0 1em white;
    color: white;
}

.container {
    flex: 1 0 auto;
}

footer {
    background-color: #333344;
    color: white;
    box-shadow: 0 -5px 5px -5px #333;
    flex: 0 0 auto;
    font-size: 18px;
}

footer a {
    color: white !important;
}

img {
    width: 250px;
    height: 150px;
}

.page-item.active .page-link {
    background-color: #333344 !important;
    border-color: #333344 !important;
    color: white !important;
}

.page-link:hover {
    z-index: 1;
    border-color: #333344 !important;
    cursor: pointer;
}

#input-group {
    margin-bottom: 20px;
}

.btn {
    background-color: #333344;
    color: white;
}

span {
    font-style: italic;
}

a {
    text-decoration: none !important;
    color: black !important;
    cursor: pointer;
}

.line {
    width: 100%;
    height: auto;
}

@media (max-width:700px) {
    .col img {
        width: 100% !important;
        height: auto !important;
    }
    .media {
        flex-direction: column !important;
    }
}

.col-lg-8 {
    box-shadow: -5px 0 5px -5px #333;
}

ul {
    padding-inline-start: 0px;
}

.top li {
    box-shadow: 0 5px 5px -5px #333;
}

.left {
    text-align: center;
}

.search {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    width: 300px !important;
}

.btn-search {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: #333344;
}

.line {
    width: 100%;
    height: auto;
}

.navbar-toggler-icon {
    width: 20px;
    height: auto;
}

.navbar-brand {
    width: 100px;
    height: auto;
}