{% load static %}
<!DOCTYPE html>

{% block head %}    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>sNews</title>
        {% block styles %}
            
        {% endblock %}                
    </head>
{% endblock %}

{% block body %}
    <body>
        {% block header %}            
            <header>
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <img class="navbar-brand" src="{% static 'polls/images/logo.jpg' %}">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                            <img class="navbar-toggler-icon" src="{% static 'polls/images/menu.png' %}">
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                            <ul class="navbar-nav mr-auto">
                                {% block header_buttons %}
                                {% endblock %}
                            </ul>
                            <form class="form-inline my-2 my-lg-0 ml-auto " type="GET" action="{% url 'polls:home'%}" >
                                {% block input_block %}
                                {% endblock %}
                                <div class="input-group-append">
                                    <button class="btn btn-search" type="submit">Найти</button>
                                </div>
                            </form>
                        </div>

                        
                    </div>
                </nav>
            </header>
        {% endblock %}

        {% block content %}
            {% block container %}
                
            {% endblock %}

            {% block footer %}
                <!-- Footer -->
                <footer class="page-footer font-small blue">
                    <div class="footer-copyright text-center py-2">© 2020 Copyright:
                    <a href="https://snews.pythonanywhere.com/">snews.pythonanywhere.com</a>
                    </div>
                </footer>

                {% block scripts %}
                {% endblock %}
            {% endblock %}
        {% endblock %}        
    </body>
{% endblock %}