{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'polls/styles/main.css'%}">
    <link rel="stylesheet" href="{% static 'polls/styles/bootstrap-datepicker.css'%}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block header_buttons %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'polls:home'%}">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">Популярное</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">О нас</a>
    </li>    
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">

            <!-- Video -->            
            <div class="col left">
                <h1 class="pg-title-tran">
                    Трансляция
                </h1>
                <div id="ytplayer" class="d-flex mr-3" ></div>    
                <img src="line.png" alt="" style="width:100%;height:auto;">
                <h1 class="pg-title-top">
                    Популярное
                </h1>
                <ul class="top">

                    <!-- FOREACH -->
                        <a href="">
                            <li class="media">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 font-weight-bold">
                                        НАЗВАНИЕ НОВОСТИ
                                    </h5>
                                    <span class="date">
                                        ДАТА НОВОСТИ
                                    </span>
                                </div>
                            </li>
                        </a>
                    <!-- /FOREACH -->
    
                </ul>
            </div>

            <!-- News -->
            <div class="col col-lg-8">
                <h1 class="pg-title">
                    Новости
                </h1>


                <!-- DATEPICKER -->
                <form action="" type="GET" class="input-group mb-3">
                    <input type="text" name="pub_date" autocomplete="off" id="datepicker" class="form-control datepicker" placeholder="Выберите дату">
                    <div class="input-group-append">
                        <button class="btn" type="submit">Просмотреть новости</button>
                    </div>
                </form>
                <!-- <input type="hidden" id="my_hidden_input"> -->

                <ul class="list-unstyled">
                    {% for item in snews%}
                        <a href="{% url 'polls:new' item.url_name%}">
                            <li class="media my-4">
                                <img class="d-flex mr-3" src="{{item.img_url}}" alt="Generic placeholder image">                            
                                <div class="media-body">
                                        <h5 class="mt-0 mb-1 font-weight-bold">{{item.title}}</h5>
                                        <span class="date">{{item.pub_date}}</span>
                                        <p>{{item.content|slice:"0:100"}}...</p>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                    

                </ul>

                <nav aria-label="Page navigation example">
                    <ul class="pagination pg-blue">
                        {% for page in pages%}
                            {% if page == snews.number %}
                                <li class="page-item active">
                                    <span class="page-link">{{page}}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="{% url 'polls:home'%}?page={{page}}&pub_date={{pub_date}}" class="page-link"> {{page}} </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'polls/scripts/bootstrap-datepicker.min.js'%}"></script>
    <script>
        
        // russian datepicker
        !function (a) { a.fn.datepicker.dates.ru = { days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"], daysShort: ["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"], daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"], months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"], monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"], today: "Сегодня", clear: "Очистить", format: "yyyy-mm-dd", weekStart: 1, monthsTitle: "Месяцы" } }(jQuery);
        // create datepicker
        $('#datepicker').datepicker({
            endDate: '0d',
            maxViewMode: 1,
            todayHighlight: true,
            autoclose: true,
            clearBtn: true,
            language: 'ru'
        });
        
        
    </script>
    <script>
    // Load the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // Replace the 'ytplayer' element with an <iframe> and
    // YouTube player after the API code downloads.
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('ytplayer', {
        height: 'auto',
        width: '100%',
        videoId: '8T9SFZDP60Q'
        });
    }
    </script>
{% endblock %}



    