.navigation {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
}

.navigation li {
    display: inline-block;
    font-weight: bold;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #e5e5e5;
    margin: 4px;
    width: 50px;
}

.navigation ul {
    text-align: center;
    height: inherit;
}

.navigation a {
    color: #545454;
}

.page-current span {
    color: white;
}

.page-nav {
    background-color: #f1f1f1;
}

.navigation a,
.navigation span {
    display: block;
    padding: 12px 12px 14px;
    min-width: 14px;
}

.page-current {
    color: #ffffff;
    background: dodgerblue;
}